.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page__container {
  width: 100%;
}

.main-page__section {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.main-page__section-wrapper {
  width: 100%;
  max-width: 1280px;
}

.title__section {
  background-color: rgb(65, 65, 65);
}

.main-page__title {
  margin: 0;
  text-align: start;
  color: rgba(167, 0, 0, 0.808);
  text-shadow: none;
}

.search-bar__container {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 70px;
}

.search-bar {
  width: 40%;
  position: relative;
}

.search-bar__input {
  height: 20px;
  width: 100%;
  padding: 10px;
  padding-left: 42px;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  color: rgb(0, 0, 0);
  transition: 0.2s;
  font-style: italic;
}

.search-bar__input:hover {
  box-shadow: 1px 1px 4px 1px rgb(27 28 29 / 11%);
}

.search-bar__input:focus {
  box-shadow: 1px 1px 4px 1px rgb(27 28 29 / 11%);
}

.search-bar__icon {
  background: url('../../icons/loupe.png');
  background-repeat: no-repeat;
  bottom: 4px;
  display: block;
  height: 32px;
  opacity: 0.7;
  position: absolute;
  left: 7px;
  width: 32px;
}

.search-bar__button {
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  color: gray;
  height: 42px;
  outline: none;
}

.search-bar__button:active {
  border: 1px solid rgb(167, 167, 167);
  outline: none;
}

.cards__section {
  background-color: rgb(65, 65, 65);
  min-height: 100vh;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup__overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.712);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

.popup__card-container {
  z-index: 100;
}

.popup__card {
  width: 400px;
  height: 600px;
  padding: 0;
  background-color: rgb(73, 73, 73);
  cursor: pointer;
}

.popup__card-poster {
  height: 500px;
  background-size: cover;
  background-position: center;
}

.popup__card-sub {
  margin: 0;
}

.popup__card-subtitles {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.splash-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(184, 184, 184, 0.336);
}

.splash-screen__loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgba(167, 0, 0, 0.808);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  opacity: 0.5;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}